/* start global overrides */

/* header stuff */

h1.ui-title {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.75em !important;
	font-weight:900 !important;
	margin: 0.2em 30% 0.3em !important;
	font-style: italic;
}

.exit {
	width: 30px !important;
	height: 30px !important;
	top: 5px !important;
	right: 15px !important;
}

.exit span span.ui-icon-signout::before {
	margin-top: 4px;
	margin-left: 0px;
	font-size: 1.5em;
}

.exit span span.ui-icon {
	background-color: transparent !important;
	background: none !important;
	border-radius: 0 !important;
	height: 30px;
	width: 30px;
}

/* event and progress bar stuff */
.progress {
	margin: 0 auto;
	position:relative;
	width: 100%;
/* 	border: 1px solid #ddd; */
	padding: 0;
	border-radius: 6px;
	min-height: 20px;
}

.percent {
	width:0%;
	padding: 0 !important;
	margin: 0 !important;
	height: 20px;
	background: url('images/progress-bar.gif') !important;
}

.bar {
	height: 20px;
	position:absolute;
	display:inline-block;
}

.blink {
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}

/* icon stuff */

.ui-navbar li .ui-btn-icon-bottom .ui-btn-inner {
	padding-bottom: 50px;
	margin-left: 0 !important;
}

.ui-icon {

}

.ui-mini .ui-btn-icon-bottom .ui-icon {
	font-size: 2em;
	width: 40px;
	height: 40px;
	bottom: 7px;
	margin-left: -18px !important;
}

/* avatar stuff */
.avatarContainer {
	margin: 0 auto;
	text-align: center;
}

img.avatar {
	max-width: 125px;
	max-height: 100px;
	margin: 1em 0;
}

/* dialog stuff */
.closeX {
	display: none;
}

/* end global overrides */

/*start page specific overrides */

/* load screen */
#load .ui-content {
	padding: 0 !important;
}

#load div.ui-footer {
	text-align: center;
	margin: 0 auto;
}

.welcome {
	text-align: center;
	padding: 1em;
}

#loginForm {
	padding: 1em;
}

#loginForm input.ui-input-text {
	font-size: 18px;
	color: white !important;
}

#loginButton {
	text-align: center;
	margin: 0 auto;
	padding: 2em;
}

#loginSubmitButton span span {
	background-color: transparent !important;
}

#loadUserResponseDialog .ui-content {
	margin: 0 !important;
	padding: 15px !important;
	text-align: center;
}

#loadUserResponseDialog .closeBtn {
	margin: 15px;
}

#registerNowButton span.ui-btn-inner {
	padding-left: 0 !important;
	padding: 11px 13px 11px 40px !important;
	font-size: 16px;
}

.copyInfo {
	font-weight: normal;
	font-size: 10px;
	padding: 0.5em;
}

/* register tabs */
.register .ui-content {
	padding: 0 !important;
	margin-top: 3.5em;
}

.register {
	font-weight: normal;
	text-align: center;
	font-size: 1em;
}

#registerProgress {
	text-align: center;
	margin: 0 auto;
}

/* register device tab */

#registerDeviceForm {
	padding: 1em;
	text-align: center;
	margin: 0 auto;
}

.percent.device {
	width: 25%;
}

/* register user tab */

.percent.user {
	width: 50%;
}

#registerUsernameForm, #registerPasswordForm {
	padding: 1em;
	text-align: center;
	margin: 0 auto;
}

/* register knock */

.percent.knock {
	width: 75%;
}

/* register overview */

.percent.overview {
	width: 100%;
}

/* footer overrides */

.mainFooter div ul li a span .ui-icon-cog::before {
	margin-top: 8px;
	margin-left: 8px;
}

.mainFooter div ul li a span .ui-icon-envelope::before {
	margin-top: 7px;
	margin-left: 6px;
}

.mainFooter div ul li a span .ui-icon-group::before {
	margin-top: 8px;
	margin-left: 6px;
}

/* account tab */
#account .ui-navbar ul li a span .ui-icon-shadow {
	-moz-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
}

#account .ui-navbar ul li a span .ui-icon {
	background-color: transparent !important;
	border: 0;
}

#account div.ui-content {
	padding: 0 !important;
}

.acount-info div {
	max-height: 160px;
}

.account-info div .avatarContainer {
	margin: 0 auto;
	width: auto;
	text-align: center;
}

.account-info div div.text {
	width: 100%;
	padding: 0;
	margin: 0;
	min-height: 136px;
	font-size: 1em;
	font-weight: normal;
}

.account-info div div.text span {
	margin: 5px 0 0;
	float: left;
	clear: both;
}

.account-info .accountUserName {
	width: 100%;
	font-weight: 600;
	font-size: 1.2em;
	color: #1a8bFF;
}

.ui-field-contain label.ui-slider {
	width: 70%;
	margin: 0 10% 1% 0;
}	

.ui-field-contain label#toggleNuke-label {
	width: 100%;
	margin: 0 10% 1% 0;
}	

.ui-field-contain div.ui-slider input#toggleNuke {
	display: none;
}

.ui-field-contain div.ui-slider div.ui-slider-track {
	margin: 0 0 0 15px !important;
}
#options {
	padding: 0 15px;
}

#options .ui-field-contain {
	max-width: auto !important;
}
#options div div.ui-slider-switch {
	top: 1em;
	right: 1px;
	position:absolute;
}

#slider-3-label {
	width: 100%;
}

/* messages tab */
#messages .ui-content {
	padding: 0 !important;
}

#messages .ui-li-static.ui-li-has-arrow.ui-li-has-count {
	padding-right: 15px !important;
}

#messagesBoxes {
	margin-top: 2em;
}

#messages .ui-btn-up-a {
border-width: 0 0 1px 1px;
}

#messages .ui-navbar ul li a span .ui-icon {
	background-color: transparent !important;
	border: 0;
}

#messages .ui-navbar ul li a span .ui-icon-shadow {
	-moz-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
}

#messages .ui-navbar ul li a span .ui-icon-edit::before {
	margin-top: 4px;
	margin-left: 5px;
}

#messages .ui-navbar ui li a span .ui-icon-search::before {
	margin-top: 3px;
	margin-left: 2px;
}

#messagesSearch .ui-panel-inner {
	margin: 3.5em 0 0;
}

/* inbox page */

#inbox .ui-content {
	margin-top: 3.5em;
}

#inbox .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

#inbox .ui-header .ui-btn-left span .ui-icon-arrow-l::before {
	margin-top: 4px !important;
	margin-left: 4px !important;
}

/* outbox page */

#outbox .ui-content {
	margin-top: 3.5em;
}

#outbox .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

/* drafts page */
#drafts .ui-content {
	margin-top: 3.5em;
}

#drafts .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

/* sent page */
#sent .ui-content {
	margin-top: 3.5em;
}

#sent .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

/* trash page  */
#trash .ui-content {
	margin-top: 3.5em;
}

#trash .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

/* write message */
#messageNew .ui-content {
	margin: 3.5em 0 0 0 !important;
}

#messageNew .ui-header .ui-btn-left {
	top: 11px;
	left: 15px;
}

#messageNew .ui-header .ui-btn-left span .ui-icon-arrow-l::before {
	margin-top: 4px !important;
	margin-left: 4px !important;
}

#messageNewForm div.ui-input-text {
	width: 65%;
	float: left;
	margin: 0 0 0 10px;
}

#messageNewFormToLabel {
	float: left;
	padding: 0;
	margin: 0.5em 0 0 2px;
}

#messageNewForm div.ui-select {
	width: 20%;
	float: right;
	margin: 0;
	padding: 0;
}

#messageNewForm div.ui-select .ui-btn {
	margin: 0;
	padding: 0;
}

#messageNewForm div.ui-select .ui-btn .ui-btn-inner {
	height: 70px;
	width: 70px;
	padding: 0;
}
#messageNewForm div.ui-select .ui-btn .ui-btn-inner .ui-btn-text {
	display: none;
}

#messageNewForm div.ui-select .ui-btn .ui-btn-inner .ui-icon {
	height: 70px;
	width: 70px;
	right: 0;
	top: 0;
	margin-top: 0;
	background-image: url('images/cordova.png');
	background-color: transparent;
	background-position: 7px 7px;
	background-size: contain;
}

#messageNewFormToolbar {
	padding: 0 0 10px 0;
	margin: 10px 0 0 6px;
	float: left;
}

#messageNewFormToolbar .ui-controlgroup .ui-controlgroup-controls a span span.ui-btn-text {
	font-size: 11px;
}

#messageNewFormMessage {
	clear: both;
	margin: 10px 0 0 0;
}

/* contact tab */

#contacts .ui-content {
	padding: 0 !important;
}

#contacts .ui-navbar ul li a span .ui-icon-shadow {
	-moz-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
	box-shadow: 0px 0px 0 rgba(255,255,255,0) /*{global-icon-shadow}*/;
}

#contacts .ui-navbar ul li a span .ui-icon {
	background-color: transparent !important;
	border: 0;
}

#contacts .ui-content .ui-listview-filter {
	margin: 0px 0px 15px;
}

/* user detail tab */
#user .ui-content {
	padding: 0 !important;
}

#user .ui-content div div div div .text {
	min-height: 140px;
	max-height: 140px;
}

.user-info div .avatarContainer {
	margin: 0 auto;
	width: auto;
	text-align: center;
	min-height: 140px;
}

.user-info div div.text span {
	margin: 5px 0 0;
	float: left;
	clear: both;
}

.user-info .userNameRecipient {
	width: 100%;
	font-weight: 600;
	font-size: 1.2em;
	color: #1a8bFF;
}

#user .ui-content .ui-listview-filter {
	padding: 10px 10px 0;
}

#user .ui-content .ui-listview li div.getMessagesResponseNull {
	min-height: 200px;
	padding: 15px;
}

#userNewMessageForm {
	margin: 0 !important;
	padding: 0 !important;
}

#userNewMessageInput {
	width: 80%;
	float: left;
	padding: 5px;
}

#userNewMessageSubmitButton {
	width: auto;
	position: relative;
	float: right;
	height: 100%;
	padding: 5px;
}

#userNewMessageSubmitButton a {
	margin: 0.55em 0;
} 
#userNewMessageSubmitButton a span.ui-btn-inner {
	padding: 0 !important;
	height: 100%;
	width: 100%;
	margin: 0 !important;
	min-height: 45px;
	min-width: 50px;
}

#userNewMessageSubmitButton a span span.ui-icon {
	width: 100%;
	min-width: 45px;
	min-height: 100%;
	top: 0.5em;
	left: 0;
	bottom: 0;
	right: 0.5em;
	padding: 22%;
	margin: 0 auto !important;
	position: relative;
}

#userNewMessageSubmitButton a span span.ui-icon-comment::before {
	font-size: 2em;
	margin-top: 0px !impportant;
	margin-left: 0px !important;
}